<div class="waypoint-nav space"></div>
<%= render partial: 'shared/nav' %>

<div class="print-container">
  <div class="print-image">
    <%= image_tag @print.image.url(:full_size) %>
  </div>

  <div class="print-description-form">
    <h2><%= @print.name %></h2>
    <p><%= @print.description %></p>
    <%= form_for :product, url: cart_prints_path(print_id: @print.id) do |f| %>
      <h3>Buy a print</h3>
      <%= f.collection_select(:id, Product.all, :id, :name, prompt: true) %>
      <%= f.submit "Add to cart"%>
    <% end %>

  </div>
</div>
