<div class="waypoint-nav space"></div>
<%= render partial: 'shared/nav' %>
<div class="admin-galleries">
  <table>
    <thead>
      <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Pictures</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>

      <% @galleries.each do |gallery| %>
      <tr>
        <td> <%= image_tag gallery.pictures.first.image.url(:thumb), class: 'picture-icon' %> </td>
        <td> <%= gallery.name %> </td>
        <td> <%= gallery.pictures.count %> </td>
        <td> <%= link_to "Edit", edit_gallery_path(gallery) %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
