<div class="waypoint-nav space"></div>
<%= render partial: 'shared/nav' %>

<div class="admin-gallery-tools">
  <%= button_to "Add New Gallery", new_gallery_path, class: 'btn', method: :get %>
  <%= button_to "Product Manager", '#', class: 'btn', method: :get %>
  <%= button_to "Orders", '#', class: 'btn', method: :get %>
</div>

<div class="admin-galleries">
  <table>
    <thead>
      <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Pictures</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

      <% @galleries.each do |gallery| %>
      <tr>
        <td> <%= image_tag gallery_cover(gallery), class: 'picture-icon' %> </td>
        <td> <%= gallery.name %> </td>
        <td> <%= gallery.pictures.count %> </td>
        <td> <%= link_to "Edit", edit_gallery_path(gallery) %></td>
        <td> <%= link_to "Delete", gallery_path(gallery), method: :delete %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
