<nav id="primary-navigation" class="primary-navigation ">
  <div class="container">
    <a href="/" id="toggle-logo" class="visuallyhidden"><%= image_tag("navlogo.png", class: 'nav-logo') %></a>
    <a href="#" id="toggle-menu" class="hamburger">
      <span class="bar bar-top"></span>
      <span class="bar bar-middle"></span>
      <span class="bar bar-bottom"></span>
    </a>
    <ul id="links" class="links">
      <% if current_user %>
        <li> <%= link_to "Logout", logout_path, method: :delete %></li>
        <li> <%= link_to "Dashboard", admin_path %> </li>
      <% end %>
      <li> <%= link_to "Prints", prints_path %></li>
      <li><%= link_to 'Galleries', galleries_path %></li>
      <li id="scrolltogalleries"><a href="#">Contact</a></li>
      <li> <%=# link_to "Cart", cart_path %> </li>
    </ul>
  </div>
</nav>
