<a id="top"></a>
<aside class="cover-photo">
	<figure class="v-center">
    <%= image_tag('logo1.png', class: 'logo') %>
     <!-- <img src="logo1.png" width="350" height="350" alt="Logo" class="logo"> -->
	</figure>
	<nav id="primary-navigation" class="primary-navigation ">
		<div class="container">
      <a href="/" id="toggle-logo" class="visuallyhidden"><%= image_tag("navlogo.png", class: 'nav-logo') %></a>
      <a href="#" id="toggle-menu" class="hamburger">
        <span class="bar bar-top"></span>
        <span class="bar bar-middle"></span>
        <span class="bar bar-bottom"></span>
      </a>
      <ul id="links" class="links">
				<li><a href="prints/">Prints</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#scrolltogalleries" class="scroll">Galleries</a></li>
        <li id="scrolltogalleries"><a href="contact.html">Contact</a></li>
      </ul>
    </div>
	</nav>
</aside>
<section class="waypoint-nav gallery-container">
	<div class="grid">
		<% @galleries.each do |gallery| %>

		<figure class="grid-hover">
			<%= link_to image_tag(gallery.pictures.first.image.url(:h_thumb)), "#" %>
			<figcaption>
				<h2 class="gallery-name"><%= gallery.name %></h2>
				<p><%= gallery.location %></p>
				<!-- <a href="#">View more</a> -->
			</figcaption>
		</figure>

		<% end %>
	</div>
</section>
