<div class="waypoint-nav space"></div>
<%= render partial: 'shared/nav' %>
<div class="wrapper">
  <div class="gallery-details-edit">
    <%= form_for @gallery do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    <%= f.label :location, "Location:" %>
    <%= f.text_field :location %>
    <%= f.submit %>
    <% end %>
  </div>
  <div class="gallery-edit-pictures">
    <h1>Pictures</h1>
    <% @gallery.pictures.each do |picture| %>
    <div class="gallery-edit-picture">
      <%= image_tag picture.image.url(:thumb) %>
      <div class="edit-form">
        <%= form_for picture do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.check_box :print  %>
        <%= f.label :print %>
        <%= f.submit class: 'blue' %>
        <% end %>
        <%= button_to "Delete", picture_path(picture), method: :delete, class: 'red' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
