<!DOCTYPE html>
<html>
<head>
  <title>Robbie Lane Photography</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <script>
    window.location = 'http://photography.robbielane.me';
  </script>
<% flash.each do |type, msg| %>
  <%= content_tag :div, msg, class: "flash_#{type}" %>
<% end %>

<%= yield %>

</body>
</html>
